{% extends 'base.html' %}
{% block title %}
    <title>About Us - Taskmate</title>
{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-center text-primary">{{about_text}}</h1>
  <p></p>
  <p style="font-size:200%">Welcome to Taskmate, your number one source for all Tasks you do. We're dedicated to providing you the best of TaskMate, with a focus on dependability. And Our team is putting lot of effort to make it easy and realiable to use.
  We're working to turn our TasMate into more exciting things like Daily dairy and blog and much more. We hope you enjoy our Taskmate as much as we enjoy offering them to you.<br>
</br>
</br>
  Sincerely,<br>
<b>PALLAVI (AKA GAL)-Founder</b>
</p>
</div>
{% endblock content%}