{% extends 'base.html' %}
{% block title %}
    <title>Contact Us - Taskmate</title>
{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-center text-primary">{{contact_text}}</h1>
  <p></p>
<p style="font-size:200%"> If you face any sort of problems in using this website or any of the function or any activity which are offered here you can contact us at anytime in the day.</br>
You can reach us at email id <b>TaskMate.help@gmail.com</b>  to ask your doubts about the services or any glitch present in website and your are always welcome to suggest new ideas and feature that should  be added.
<br>And thanks very much for visiting the website.</p>
</br>
</br>
</br>
<p style="font-size:200%">Reach Us at -  <i>TaskMate.help@gmail.com</i> </br>
<b>RC-Founder</b> </p>
</div>
{% endblock content%}